literature
data
sim/
Packages
software/.metadata
software/test
software/RemoteSystemsTempFiles
software/batsim/build
software/batsim/binary
software/gluelogic/build
software/gluelogic/binary
software/spiTest
*.d
*.dwb
*.d
*.mxproject
*.bin
*.list
*.map
*.out
*.o
*.dep
*.a
*.cproject
*.project
*.settings
*.xcf
*.csv
